Loading neccessary library

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.feature_extraction.text import CountVectorizer

# from zipfile import ZipFile

In [0]:
# Since i have uploaded the data to my Google Drive
# I have to have that path

project_path = '/content/drive/My Drive/ML/'

In [0]:
# Since read_csv method can now read csv from zip as well
# loading the csv file

blog_text_df = pd.read_csv(project_path + 'blog-authorship-corpus.zip')

In [0]:
blog_text_df = blog_text_df.iloc[:50000]

In [0]:
# Checking the shape of of dataset

blog_text_df.shape

(50000, 7)

In [0]:
# Checking few records to look at the dataset

blog_text_df.head(8)

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...
5  3581210  ...               I had an interesting conversation...
6  3581210  ...               Somehow Coca-Cola has a way of su...
7  3581210  ...               If anything, Korea is a country o...

[8 rows x 7 columns]

In [0]:
# concise summary of dataset

blog_text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681284 entries, 0 to 681283
Data columns (total 7 columns):
id        681284 non-null int64
gender    681284 non-null object
age       681284 non-null int64
topic     681284 non-null object
sign      681284 non-null object
date      681284 non-null object
text      681284 non-null object
dtypes: int64(2), object(5)
memory usage: 36.4+ MB

In [0]:
# checking for the null values

blog_text_df.isna().sum()

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [0]:
# 
blog_text_df['sign'].value_counts()

Cancer         65048
Aries          64979
Taurus         62561
Libra          62363
Virgo          60399
Scorpio        57161
Pisces         54053
Leo            53811
Gemini         51985
Sagittarius    50036
Aquarius       49687
Capricorn      49201
Name: sign, dtype: int64

In [0]:
# Checking for the duplicate rows

duplicate_rows_df = blog_text_df[blog_text_df.duplicated(keep='first') == True]
print(duplicate_rows_df.shape)

(4686, 7)

In [0]:
duplicate_rows_df.head(20)

            id  ...                                               text
2310    589736  ...             hey guys - i had the flu today - th...
3469    589736  ...
3578    589736  ...
3626    589736  ...
3627    589736  ...
3637    589736  ...
3735   3698079  ...                   Around 1:00 my mom picked me ...
3736   3698079  ...                   Around 1:00 my mom picked me ...
3829   3543234  ...             ZmX: I hate these geek 20 year olds...
4275    766556  ...          Not a happy girl  Working like crazy a...
4452    766556  ...          urlLink    urlLink audblog audio post ...
4883   1233335  ...         there is a purring doc marten box on th...
4983   1103575  ...
5002   1103575  ...
8031   2635745  ...         So I had a lot of fun this past week......
9237   2581876  ...                                  urlLink
9716   2284644  ...              urlLink    kitchen&nbsp; urlLink  ...
9890   3291253  ...              urlLink Yahoo! News - BUSH YOUTH? ...
10041  1393814  ...                   Don't have much to talk about...
11245  3204689  ...                                         urlLink

[20 rows x 7 columns]

In [0]:
# removing all the duplicate rows from the df

blog_text_df = blog_text_df[blog_text_df.duplicated(keep='first') == False]

In [0]:
blog_text_df

            id  ...                                               text
0      2059027  ...             Info has been found (+/- 100 pages,...
1      2059027  ...             These are the team members:   Drewe...
2      2059027  ...             In het kader van kernfusie op aarde...
3      2059027  ...                   testing!!!  testing!!!
4      3581210  ...               Thanks to Yahoo!'s Toolbar I can ...
...        ...  ...                                                ...
49995  1273538  ...         Aug 7th Thur... Bought Her Mua Chee & S...
49996  1273538  ...         Aug 6th Wed.. Her 1st Day @ Work Back @...
49997  1273538  ...         Aug 4th Mon Zing's BD !! Went To Her Pl...
49998  1273538  ...         Aug 3rd Sun.. Went To Her Place B4 Goin...
49999  1273538  ...         Aug 1st Fri.. Met Her To Go Shoppin' @ ...

[49709 rows x 7 columns]

In [0]:
#Cross check if any duplicate rows still there

blog_text_df[blog_text_df.duplicated()]

Empty DataFrame
Columns: [id, gender, age, topic, sign, date, text]
Index: []

In [0]:
# releasing some memory
del duplicate_rows_df

In [0]:
blog_text_df['sign'].value_counts()

Aries          64758
Cancer         64709
Libra          62146
Taurus         61393
Virgo          60200
Scorpio        56597
Pisces         53657
Leo            53603
Gemini         51309
Sagittarius    49831
Aquarius       49422
Capricorn      48973
Name: sign, dtype: int64

In [0]:
blog_text_df['text'].isnull().sum()

0

In [0]:
(blog_text_df['age'].value_counts())

17    80670
24    79809
23    72448
16    72228
25    66803
26    55012
27    45745
15    41559
14    27200
34    21304
33    17532
35    17275
36    14185
13    12132
37     9280
38     7187
39     5468
40     4998
45     4468
43     4195
41     3714
48     3545
42     2875
46     2730
47     2204
44     2032
Name: age, dtype: int64

In [0]:
# blog_text_df['age_group'] = blog_text_df['age'].apply(lambda x: 'age group 1' if(x > 12 and x < 18) else ('age group 2' if(x>22 and x<28) else ('age group 3' if(x>32 and x<48) else 'age group 4')))

In [0]:
blog_text_df.head()

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 7 columns]

In [0]:
import nltk;
nltk.download('stopwords');
from nltk.corpus import stopwords;
import string
stop_words = set(stopwords.words('english'))
print(stop_words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
{'i', "it's", 'above', 'any', 'these', 'mustn', 'wasn', 've', 'yours', 'is', 'yourselves', 'before', "mightn't", 'o', 'own', 'shouldn', 'into', 'haven', 'our', 'ain', 'hasn', 'while', 'just', 'the', 'itself', 'm', 'me', 'a', 'hers', 'yourself', "you'd", 'so', 'for', 'how', 'from', "haven't", 'which', "mustn't", 'then', 'below', 'will', "hasn't", 'that', "shouldn't", "isn't", 'had', 'by', 'under', "you're", 'very', "don't", "you've", 'those', 'about', "won't", 'we', 'both', 'should', 'once', 'why', 'such', 'has', 'did', 'doing', 'wouldn', 'again', 'its', 'theirs', 'there', "you'll", 'isn', 'her', 'after', "weren't", 'than', 'what', 'you', 'been', 'most', "doesn't", 'now', 's', 'hadn', 'do', 'down', 'no', 'couldn', 'y', 'being', 'them', 'she', 'of', 'off', 'between', 'not', 'too', 'myself', "didn't", 'same', 'they', 'herself', 'when', 'out', 'ourselves', 'ours', 'where', 'are', 'who', 'more', 'only', 'here', "wasn't", 'themselves', "aren't", 'doesn', 'needn', 'does', 'don', 'll', 'on', "hadn't", 'ma', 'at', 'some', 'because', 'mightn', "that'll", 'have', 'if', 'aren', 'shan', 'against', 'd', 'further', 're', 'nor', 'didn', 'can', 'all', 'were', "should've", 'this', 'as', 'until', 'with', "needn't", 'having', 'won', "couldn't", 'himself', 'his', 'during', "shan't", 'your', 'be', 'and', 'was', 'or', 'few', 'it', 'an', 'over', "wouldn't", 'to', 'up', 'each', 'my', 'but', 'weren', 'him', 'their', 't', "she's", 'whom', 'in', 'am', 'through', 'he', 'other'}

In [0]:
def remove_punctuation_space_stop_words_number_lowercase(input_str):
    tokens = input_str.translate(str.maketrans("","",string.punctuation)).split()
    result = [i.lower() for i in tokens if (not i in stop_words) and (not i.isdigit())]
    return ' '.join(result)

In [0]:
blog_text_df['clean_text'] = blog_text_df['text'].apply(lambda row: remove_punctuation_space_stop_words_number_lowercase(row))

In [0]:
blog_text_df.head()

        id  ...                                         clean_text
0  2059027  ...  info found pages mb pdf files now wait untill ...
1  2059027  ...  these team members drewes van der laag urllink...
2  2059027  ...  in het kader van kernfusie op aarde maak je ei...
3  2059027  ...                                    testing testing
4  3581210  ...  thanks yahoos toolbar i capture urls popupswhi...

[5 rows x 8 columns]

In [0]:
blog_text_df['age'] = blog_text_df['age'].astype(str)

In [0]:
blog_text_df['labels'] = blog_text_df[['gender', 'age', 'topic', 'sign']].values.tolist()

In [0]:
blog_text_df.drop(['gender', 'age', 'topic', 'sign', 'id', 'text', 'date'], axis=1, inplace=True)
blog_text_df.head()

                                          clean_text                                   labels
0  info found pages mb pdf files now wait untill ...                 [male, 15, Student, Leo]
1  these team members drewes van der laag urllink...                 [male, 15, Student, Leo]
2  in het kader van kernfusie op aarde maak je ei...                 [male, 15, Student, Leo]
3                                    testing testing                 [male, 15, Student, Leo]
4  thanks yahoos toolbar i capture urls popupswhi...  [male, 33, InvestmentBanking, Aquarius]

In [0]:
# feature 
X = blog_text_df['clean_text']

# label
y = blog_text_df['labels']

In [0]:
del blog_text_df

In [0]:
from sklearn.model_selection import train_test_split
# import tqdm

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [0]:
print(X_train.shape)
print(y_train.shape)

(33305,)
(33305,)

In [0]:
print(X_test.shape)
print(y_test.shape)

(16404,)
(16404,)

In [0]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.33, random_state=42)

In [0]:
print(X_train.shape)
print(y_train.shape)

(22314,)
(22314,)

In [0]:
print(X_val.shape)
print(y_val.shape)

(10991,)
(10991,)

In [0]:
# del count_vect

In [0]:
# instantiate the vectorizer
count_vect = CountVectorizer(ngram_range=(1,2), min_df=2, max_features=1000, lowercase=False)
count_vect

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=False, max_df=1.0, max_features=1000, min_df=2,
                ngram_range=(1, 2), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [0]:
X_train_dtm = count_vect.fit_transform(X_train)

In [0]:
X_val_dtm = count_vect.transform(X_val)

In [0]:
X_test_dtm  count_vect.transform(X_test)

SyntaxError: ignored

In [0]:
lcount_vect.vocabulary_

{'dont': 200,
 'feel': 265,
 'well': 934,
 'maybe': 517,
 'got': 333,
 'everyone': 242,
 'seems': 712,
 'getting': 317,
 'sick': 737,
 'lately': 454,
 'urllink': 891,
 'the': 836,
 'of': 585,
 'by': 108,
 'wrote': 983,
 'book': 87,
 'as': 45,
 'blog': 83,
 'ill': 399,
 'note': 578,
 'from': 301,
 'one': 595,
 'american': 27,
 'history': 377,
 'however': 389,
 'states': 786,
 'state': 785,
 'five': 285,
 'next': 569,
 'president': 648,
 'united': 887,
 'america': 26,
 'it': 422,
 'written': 981,
 'sitting': 748,
 'also': 21,
 'around': 42,
 'he': 359,
 'there': 838,
 'process': 654,
 'part': 611,
 'perhaps': 620,
 'means': 520,
 'but': 106,
 'interest': 413,
 'happened': 352,
 'interesting': 415,
 'going': 329,
 'later': 455,
 'brother': 98,
 'birthday': 79,
 'basically': 63,
 'enjoy': 229,
 'cool': 159,
 'air': 13,
 'thats': 835,
 'plan': 632,
 'not': 577,
 'park': 610,
 'scared': 704,
 'nice': 570,
 'shopping': 730,
 'like': 473,
 'first': 283,
 'world': 970,
 'couldnt': 161,
 'get': 314,
 'want': 911,
 'catch': 120,
 'movie': 550,
 'last': 451,
 'night': 572,
 'fun': 306,
 'laugh': 456,
 'hard': 355,
 'sometimes': 762,
 'think': 845,
 'working': 968,
 'if': 398,
 'really': 676,
 'guy': 341,
 'act': 3,
 'form': 293,
 'or': 601,
 'hot': 384,
 'and': 28,
 'course': 164,
 'could': 160,
 'forget': 291,
 'feeling': 267,
 'just': 430,
 'his': 376,
 'crazy': 166,
 'doesnt': 196,
 'help': 368,
 'so': 755,
 'home': 380,
 'yesterday': 990,
 'called': 110,
 'game': 309,
 'went': 935,
 'house': 387,
 'ate': 52,
 'dinner': 194,
 'lot': 498,
 'say': 701,
 'totally': 868,
 'yeah': 986,
 'need': 563,
 'light': 472,
 'college': 145,
 'id': 395,
 'pretty': 649,
 'funny': 307,
 'no': 573,
 'stupid': 804,
 'said': 696,
 'come': 146,
 'back': 57,
 'pick': 624,
 'little': 481,
 'though': 850,
 'picked': 625,
 'friend': 299,
 'time': 856,
 'kinda': 438,
 'hey': 373,
 'are': 39,
 'guess': 340,
 'evil': 244,
 'made': 505,
 'another': 30,
 'system': 816,
 'party': 612,
 'mom': 537,
 'gonna': 331,
 'kill': 436,
 'you': 993,
 'tell': 828,
 'her': 369,
 'driving': 211,
 'two': 884,
 'window': 953,
 'stuff': 803,
 'would': 975,
 'fall': 257,
 'tried': 872,
 'this': 849,
 'then': 837,
 'talked': 823,
 'go': 325,
 'oh': 589,
 'buy': 107,
 'ice': 393,
 'didnt': 189,
 'know': 440,
 'place': 630,
 'late': 453,
 'stayed': 788,
 'hour': 385,
 'caught': 121,
 'watched': 917,
 'thursday': 854,
 'let': 467,
 'car': 116,
 'right': 688,
 'today': 861,
 'spent': 778,
 'eye': 252,
 'always': 23,
 'afraid': 7,
 'find': 278,
 'comes': 147,
 'taking': 821,
 'care': 118,
 'ever': 240,
 'take': 818,
 'sleep': 751,
 'good': 332,
 'beautiful': 67,
 'me': 518,
 'my': 557,
 'eyes': 253,
 'gotten': 335,
 'worse': 972,
 'since': 743,
 'years': 988,
 'ago': 11,
 'wonder': 961,
 'see': 708,
 'things': 844,
 'used': 896,
 'left': 465,
 'seriously': 719,
 'almost': 16,
 'believe': 75,
 'sucks': 806,
 'put': 658,
 'ok': 591,
 'line': 476,
 'read': 669,
 'actually': 5,
 'white': 946,
 'im': 400,
 'sure': 814,
 'gets': 316,
 'many': 513,
 'people': 618,
 'wearing': 924,
 'haha': 345,
 'least': 462,
 'wear': 923,
 'huge': 390,
 'half': 347,
 'face': 254,
 'looked': 491,
 'bought': 91,
 'is': 418,
 'weird': 933,
 'must': 556,
 'last night': 452,
 'of course': 586,
 'oh well': 590,
 'dont want': 205,
 'im sure': 405,
 'fear': 264,
 'goes': 328,
 'july': 429,
 'its': 423,
 'big': 78,
 'cant': 115,
 'enough': 230,
 'michael': 528,
 'bad': 58,
 'news': 568,
 'apparently': 38,
 'wanted': 912,
 'even': 236,
 'probably': 651,
 'now': 582,
 'theres': 839,
 'still': 789,
 'chance': 125,
 'whole': 948,
 'thing': 843,
 'taken': 819,
 'side': 738,
 'single': 744,
 'major': 507,
 'piece': 628,
 'that': 834,
 'happens': 353,
 'may': 516,
 'bunch': 101,
 'simply': 742,
 'add': 6,
 'based': 62,
 'mean': 519,
 'hand': 348,
 'on': 594,
 'love': 500,
 'answer': 31,
 'question': 660,
 'way': 920,
 'already': 20,
 'theyre': 842,
 'call': 109,
 'comments': 150,
 'exactly': 245,
 'point': 639,
 'different': 191,
 'lives': 483,
 'talking': 824,
 'woman': 959,
 'wrong': 982,
 'talk': 822,
 'including': 409,
 'us': 894,
 'view': 901,
 'fine': 279,
 'especially': 234,
 'money': 540,
 'war': 914,
 'im going': 401,
 'dont think': 204,
 'anyone': 33,
 'site': 747,
 'anymore': 32,
 'never': 566,
 'post': 644,
 'much': 554,
 'work': 966,
 'making': 510,
 'girl': 318,
 'group': 339,
 'shes': 727,
 'interested': 414,
 'team': 827,
 'took': 866,
 'small': 753,
 'songs': 766,
 'yes': 989,
 'recently': 679,
 'havent': 358,
 'able': 0,
 'ive': 424,
 'test': 831,
 'thinking': 847,
 'learning': 461,
 'past': 615,
 'week': 930,
 'in': 408,
 'words': 965,
 'suppose': 812,
 'away': 54,
 'listening': 480,
 'make': 508,
 'music': 555,
 'thought': 851,
 'lost': 497,
 'computer': 155,
 'decided': 185,
 'watch': 916,
 'video': 900,
 'online': 599,
 'record': 680,
 'sound': 771,
 'listen': 479,
 'long': 487,
 'man': 511,
 'classes': 137,
 'shouldnt': 733,
 'given': 321,
 'what': 938,
 'else': 223,
 'faith': 256,
 'your': 997,
 'relationship': 682,
 'god': 327,
 'teachers': 826,
 'etc': 235,
 'class': 136,
 'we': 922,
 'jesus': 426,
 'use': 895,
 'how': 388,
 'saying': 702,
 'something': 761,
 'students': 801,
 'case': 119,
 'wasnt': 915,
 'tomorrow': 864,
 'new': 567,
 'day': 178,
 'best': 76,
 'dont get': 201,
 'long time': 488,
 'soon': 767,
 'woke': 958,
 'morning': 545,
 'lunch': 503,
 'art': 43,
 'afternoon': 9,
 'project': 656,
 'after': 8,
 'friday': 298,
 'done': 199,
 'cause': 122,
 'eric': 233,
 'found': 295,
 'quite': 664,
 'hear': 362,
 'wife': 950,
 'met': 527,
 'asked': 47,
 'married': 514,
 'life': 471,
 'started': 782,
 'tonight': 865,
 'evening': 238,
 'set': 721,
 'excited': 248,
 'guys': 342,
 'telling': 829,
 'company': 152,
 'check': 129,
 'show': 734,
 'might': 530,
 'she': 726,
 'meet': 522,
 'old': 593,
 'friends': 300,
 'sunday': 810,
 'parents': 609,
 'wedding': 928,
 'wow': 978,
 'reading': 670,
 'dreams': 208,
 'realize': 674,
 'why': 949,
 'lack': 447,
 'go back': 326,
 'dont know': 202,
 'kind': 437,
 'together': 862,
 'some': 758,
 'couple': 163,
 'several': 722,
 'days': 179,
 'nbsp': 561,
 'ones': 598,
 'explain': 251,
 'feel like': 266,
 'seen': 713,
 'busy': 105,
 'reality': 673,
 'to': 860,
 'do': 195,
 'list': 478,
 'looks': 493,
 'month': 541,
 'human': 391,
 'although': 22,
 'society': 757,
 'lots': 499,
 'none': 575,
 'brought': 99,
 'word': 964,
 'moving': 552,
 'finished': 281,
 'weeks': 932,
 'ready': 671,
 'break': 95,
 'free': 297,
 'living': 484,
 'alone': 17,
 'sigh': 739,
 'school': 705,
 'looking': 492,
 'forward': 294,
 'needs': 565,
 'wish': 954,
 'dont like': 203,
 'longer': 489,
 'hate': 356,
 'try': 877,
 'type': 885,
 'hell': 366,
 'sit': 746,
 'posted': 645,
 'random': 667,
 'keep': 431,
 'black': 81,
 'rock': 690,
 'cry': 167,
 'arent': 41,
 'whatever': 939,
 'mind': 531,
 'truth': 876,
 'continue': 156,
 'city': 135,
 'high': 374,
 'beat': 66,
 'plus': 637,
 'without': 957,
 'remember': 683,
 'gave': 311,
 'girls': 319,
 'because': 69,
 'internet': 416,
 'real': 672,
 'headed': 361,
 'important': 407,
 'someone': 760,
 'blood': 84,
 'trying': 878,
 'damn': 174,
 'kids': 435,
 'makes': 509,
 'deal': 182,
 'managed': 512,
 'person': 621,
 'serious': 718,
 'idea': 396,
 'wait': 904,
 'pictures': 627,
 'sense': 716,
 'tired': 858,
 'says': 703,
 'live': 482,
 'strong': 798,
 'stand': 779,
 'except': 247,
 'yay': 985,
 'sent': 717,
 'die': 190,
 'country': 162,
 'three': 853,
 'run': 692,
 'stuck': 799,
 'saw': 700,
 'lets': 468,
 'sad': 695,
 'upon': 890,
 'books': 88,
 'rather': 668,
 'fact': 255,
 'quickly': 663,
 'fire': 282,
 'yet': 991,
 'comment': 149,
 'here': 370,
 'water': 919,
 'great': 337,
 'change': 126,
 'possible': 643,
 'leave': 463,
 'peace': 617,
 'isnt': 419,
 'one thing': 597,
 'think im': 846,
 'high school': 375,
 'you know': 994,
 'ive got': 425,
 'pm': 638,
 'end': 225,
 'bed': 71,
 'blah': 82,
 'turned': 882,
 'picture': 626,
 'top': 867,
 'whats': 940,
 'program': 655,
 'area': 40,
 'places': 631,
 'research': 684,
 'red': 681,
 'mood': 543,
 'they': 841,
 'worked': 967,
 'start': 781,
 'truly': 875,
 'young': 996,
 'finish': 280,
 'wouldnt': 977,
 'song': 765,
 'rain': 665,
 'ran': 666,
 'door': 206,
 'kept': 432,
 'matter': 515,
 'win': 952,
 'room': 691,
 'worry': 971,
 'ask': 46,
 'number': 583,
 'special': 776,
 'heart': 364,
 'miss': 535,
 'give': 320,
 'leaving': 464,
 'behind': 74,
 'knowing': 442,
 'email': 224,
 'phone': 623,
 'send': 715,
 'choice': 132,
 'happy': 354,
 'national': 560,
 'eat': 219,
 'shop': 729,
 'study': 802,
 'watching': 918,
 'boys': 93,
 'hehe': 365,
 'inside': 411,
 'mad': 504,
 'energy': 227,
 'paper': 608,
 'la': 446,
 'dun': 214,
 'write': 979,
 'games': 310,
 'share': 725,
 'others': 603,
 'cannot': 114,
 'reason': 678,
 'become': 70,
 'experience': 250,
 'broken': 97,
 'stories': 793,
 'head': 360,
 'every': 241,
 'story': 794,
 'second': 707,
 'currently': 169,
 'along': 18,
 'speaking': 775,
 'third': 848,
 'unless': 888,
 'current': 168,
 'name': 559,
 'coming': 148,
 'information': 410,
 'visit': 902,
 'support': 811,
 'self': 714,
 'simple': 741,
 'crap': 165,
 'for': 289,
 'works': 969,
 'play': 633,
 'year': 987,
 'hands': 349,
 'short': 731,
 'hope': 381,
 'gives': 322,
 'certain': 124,
 'im really': 403,
 'summer': 808,
 'finally': 277,
 'pay': 616,
 'attention': 53,
 'needed': 564,
 'anyway': 35,
 'hoping': 383,
 'weekend': 931,
 'shall': 724,
 'cold': 144,
 'death': 183,
 'at': 51,
 'hours': 386,
 'far': 259,
 'open': 600,
 'felt': 272,
 'problem': 652,
 'usual': 898,
 'wake': 906,
 'stop': 790,
 'asleep': 49,
 'usually': 899,
 'issues': 421,
 'body': 86,
 'sleeping': 752,
 'bring': 96,
 'drive': 210,
 'running': 693,
 'problems': 653,
 'season': 706,
 'really good': 677,
 'pretty much': 650,
 'john': 428,
 'monday': 539,
 'passed': 614,
 'pass': 613,
 'till': 855,
 'sounds': 772,
 'turn': 881,
 'lol': 486,
 'digest': 193,
 'shows': 736,
 'clear': 139,
 'education': 221,
 'level': 469,
 'subject': 805,
 'heres': 371,
 'family': 258,
 'takes': 820,
 'starts': 784,
 'true': 874,
 'understand': 886,
 'can': 113,
 'sister': 745,
 'touch': 869,
 'learn': 459,
 'situation': 749,
 'better': 77,
 'iraq': 417,
 'outside': 605,
 'ass': 50,
 'obviously': 584,
 'when': 941,
 'meant': 521,
 'dark': 176,
 'six': 750,
 'feet': 270,
 'where': 942,
 'seeing': 709,
 'save': 699,
 'all': 15,
 'hit': 378,
 'first time': 284,
 'knew': 439,
 'gay': 312,
 'whether': 943,
 'came': 112,
 'somehow': 759,
 'sort': 769,
 'control': 157,
 'shit': 728,
 'don': 198,
 'york': 992,
 'played': 634,
 'trip': 873,
 'fucking': 304,
 'social': 756,
 'playing': 635,
 'fast': 260,
 'child': 130,
 'gone': 330,
 'due': 213,
 'anything': 34,
 'wednesday': 929,
 'normal': 576,
 'shot': 732,
 'missed': 536,
 'straight': 795,
 'nothing': 579,
 'knows': 444,
 'middle': 529,
 'waiting': 905,
 'rest': 685,
 'saturday': 698,
 'months': 542,
 'office': 587,
 'points': 640,
 'dad': 173,
 'update': 889,
 'more': 544,
 'get back': 315,
 'even though': 237,
 'law': 457,
 'lady': 448,
 'thanks': 833,
 'wont': 963,
 'sign': 740,
 'im gonna': 402,
 'close': 140,
 'did': 188,
 'dream': 207,
 'soul': 770,
 'weve': 937,
 'lose': 496,
 'brain': 94,
 'feels': 269,
 'have': 357,
 'heard': 363,
 'who': 947,
 'earlier': 216,
 'food': 288,
 'church': 134,
 'wants': 913,
 'changed': 127,
 'lead': 458,
 'community': 151,
 'deep': 186,
 'full': 305,
 'article': 44,
 'beginning': 73,
 'minutes': 534,
 'putting': 659,
 'giving': 323,
 'hes': 372,
 'ride': 687,
 'ended': 226,
 'everything': 243,
 'sweet': 815,
 'told': 863,
 'anyways': 36,
 'look': 490,
 'cute': 171,
 'order': 602,
 'moment': 538,
 'eating': 220,
 'minute': 533,
 'sex': 723,
 'weather': 925,
 'using': 897,
 'tv': 883,
 'favorite': 263,
 'urllink the': 892,
 'drove': 212,
 'entry': 232,
 'job': 427,
 'likely': 475,
 'return': 686,
 'realized': 675,
 'begin': 72,
 'forever': 290,
 'suddenly': 807,
 'pissed': 629,
 'instead': 412,
 'walking': 909,
 'either': 222,
 'known': 443,
 'happen': 351,
 'youre': 998,
 'children': 131,
 'service': 720,
 'tuesday': 880,
 'awesome': 55,
 'im still': 404,
 'urllink urllink': 893,
 'sorry': 768,
 'bit': 80,
 'bored': 89,
 'move': 548,
 'title': 859,
 'mention': 525,
 'youll': 995,
 'early': 217,
 'library': 470,
 'age': 10,
 'starting': 783,
 'writing': 980,
 'seem': 710,
 'mother': 547,
 'figure': 274,
 'mine': 532,
 'hold': 379,
 'amazing': 25,
 'times': 857,
 'kid': 434,
 'less': 466,
 'moved': 549,
 'blue': 85,
 'know im': 441,
 'which': 944,
 'okay': 592,
 'am': 24,
 'noticed': 581,
 'stay': 787,
 'please': 636,
 'often': 588,
 'strange': 796,
 'calling': 111,
 'while': 945,
 'worst': 973,
 'looks like': 494,
 'forgot': 292,
 'dog': 197,
 'hurt': 392,
 'poor': 642,
 'front': 302,
 'band': 60,
 'thank': 832,
 'fat': 261,
 'supposed': 813,
 'definitely': 187,
 'example': 246,
 'men': 524,
 'women': 960,
 'hair': 346,
 'walk': 907,
 'within': 956,
 'fuck': 303,
 'spend': 777,
 'ideas': 397,
 'decide': 184,
 'youve': 999,
 'cd': 123,
 'voice': 903,
 'card': 117,
 'questions': 661,
 'asking': 48,
 'hello': 367,
 'public': 657,
 'road': 689,
 'meeting': 523,
 'floor': 286,
 'drink': 209,
 'loved': 501,
 'completely': 154,
 'expect': 249,
 'government': 336,
 'wanna': 910,
 'dance': 175,
 'baby': 56,
 'dunno': 215,
 'one day': 596,
 'these': 840,
 'ways': 921,
 'apartment': 37,
 'ha': 343,
 'boring': 90,
 'absolutely': 1,
 'perfect': 619,
 'with': 955,
 'ah': 12,
 'worth': 974,
 'album': 14,
 'sun': 809,
 'final': 276,
 'building': 100,
 'mr': 553,
 'store': 792,
 'main': 506,
 'dead': 181,
 'street': 797,
 'tt': 879,
 'bar': 61,
 'personal': 622,
 'action': 4,
 'speak': 774,
 'power': 646,
 'be': 64,
 'lord': 495,
 'hang': 350,
 'stopped': 791,
 'ya': 984,
 'walked': 908,
 'sat': 697,
 'movies': 551,
 'father': 262,
 'glad': 324,
 'were': 936,
 'imagine': 406,
 'entire': 231,
 'star': 780,
 'boy': 92,
 'eventually': 239,
 'liked': 474,
 'seemed': 711,
 'teacher': 825,
 'clean': 138,
 'ball': 59,
 'shower': 735,
 'business': 104,
 'web': 926,
 'fight': 273,
 'character': 128,
 'wonderful': 962,
 'near': 562,
 'thoughts': 852,
 'issue': 420,
 'low': 502,
 'page': 606,
 'film': 275,
 'learned': 460,
 'date': 177,
 'large': 450,
 'general': 313,
 'somewhere': 763,
 'local': 485,
 'english': 228,
 'language': 449,
 'easy': 218,
 'space': 773,
 'future': 308,
 'table': 817,
 'coffee': 143,
 'cut': 170,
 'conversation': 158,
 'link': 477,
 'alot': 19,
 'smile': 754,
 'will': 951,
 'fell': 271,
 'website': 927,
 'gotta': 334,
 'ppl': 647,
 'notice': 580,
 'beach': 65,
 'hopefully': 382,
 'complete': 153,
 'difficult': 192,
 'four': 296,
 'political': 641,
 'clothes': 141,
 'ten': 830,
 'bus': 102,
 'mostly': 546,
 'quick': 662,
 'club': 142,
 'following': 287,
 'pain': 607,
 'town': 871,
 'student': 800,
 'bush': 103,
 'ko': 445,
 'our': 604,
 'would like': 976,
 'across': 2,
 'green': 338,
 'son': 764,
 'ha ha': 344,
 'ich': 394,
 'christmas': 133,
 'feelings': 268,
 'na': 558,
 'message': 526,
 'kerry': 433,
 'de': 180,
 'towards': 870,
 'became': 68,
 'cuz': 172,
 'andrew': 29,
 'sa': 694,
 'no no': 574,
 'nickmac11': 571}

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer

In [0]:
multi_label_binarizer = MultiLabelBinarizer()

In [0]:
y_train_t =  multi_label_binarizer.fit_transform(y_train)

In [0]:
multi_label_binarizer.classes_

array(['13', '14', '15', '16', '17', '23', '24', '25', '26', '27', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', 'Accounting', 'Advertising', 'Agriculture',
       'Aquarius', 'Architecture', 'Aries', 'Arts', 'Automotive',
       'Banking', 'Biotech', 'BusinessServices', 'Cancer', 'Capricorn',
       'Chemicals', 'Communications-Media', 'Construction', 'Consulting',
       'Education', 'Engineering', 'Environment', 'Fashion', 'Gemini',
       'Government', 'HumanResources', 'Internet', 'InvestmentBanking',
       'Law', 'LawEnforcement-Security', 'Leo', 'Libra', 'Manufacturing',
       'Maritime', 'Marketing', 'Military', 'Museums-Libraries',
       'Non-Profit', 'Pisces', 'Publishing', 'RealEstate', 'Religion',
       'Sagittarius', 'Science', 'Scorpio', 'Sports-Recreation',
       'Student', 'Taurus', 'Technology', 'Telecommunications', 'Tourism',
       'Transportation', 'Virgo', 'female', 'indUnk', 'male'],
      dtype=object)

In [0]:
y_val_t = multi_label_binarizer.transform(y_val)

In [0]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [0]:
clf = OneVsRestClassifier(LogisticRegression(solver = 'sag', max_iter=7000))

In [0]:
clf.fit(X_train_dtm, y_train_t)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=7000,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='sag', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [0]:
clf.score(X_val_dtm, y_val_t)

0.015103266308798107

In [0]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(clf, open(filename, 'wb'))

In [0]:
loaded_model = pickle.load(open(filename, 'rb'))
loaded_model.score(X_val_dtm, y_val_t)
# print(result)

0.015103266308798107

In [0]:
blog_text_df['clean_text'] = blog_text_df['clean_text'].apply(lambda x: )

In [0]:
import string
input1 = blog_text_df['text'][3]
' '.join(row.translate(str.maketrans("","",string.punctuation)).split()).lower()

'testing testing'

In [0]:
aa = blog_text_df['text'][:6]
aa = aa.apply(lambda row: remove_punctuation_space_stop_words_lowercase(row))
aa[3]

'testing testing'

In [0]:
from nltk.tokenize import word_tokenize
def remove_punctuation_space_stop_words_lower(input_str):
    tokens = input_str.translate(str.maketrans("","",string.punctuation)).split() #word_tokenize(input_str)
    result = [i for i in tokens if not i in stop_words]
    return ' '.join(result)

In [0]:
remove_punctuation_space_stop_words_number_lowercase(aa1)

'info found pages mb pdf files now wait untill team leader processed learns html'

In [0]:
aa[600000]

'prev urllink vol i urllink vol ii urllink vol iii this is based on a true story names places and dates have been changed to protect the innocent and in the case of one guy the very stupid some scenes have been dramatized for that extra oomph matt had to work for everything he got life never gave him an even break his mother died when he was still an infant and his father a man who couldnt tell the difference between a diaper and a rag left him at his maternal grandparents home his grandfather worked as a newspaper deliveryman while his grandmother scrubbed toilets for wealthy homeowners matt could see the hard work they put in day in and day out only to reap measly financial returns he knew at a very young age that he would never become like them he would never be poor and he would do anything to avoid such a life matt was a sensible young lad he never dreamed of striking it rich via lottery tickets or by getting a stable job in the government sector and work until he retires so he could live of the pension he was smart enough to recognise that the truly rich were people who created opportunities not simply look for them at the age of 11 he began doing homework for classmates who were not academicallyinclined of course he charged for the service it helped that he was a very bright student and was able to grasp many complex subjects very quickly his business grew so popular that he would soon be taking orders from dozens of students to complete their homework for them he ended up outsourcing some of the orders to other bright colleagues in return for a small cut of the profits his enterprise hit rocky waters after the school headmaster found out about it from a disgruntled student who felt it was unfair that he got a b for an honestly completed assignment while another student received an a using matts homework express service matt was suspended 2 weeks for the misdemeanour he spent the two weeks taking orders via telephone when matt began life as a secondary school student at age 13 he decided it was time to embark on a new business venture it was the year of the world cup and football fever was in the air matt wasnt a keen footballer he preferred hockey but he knew there was money to be made he began by obtaining football posters and pinups on credit from a fellow student who worked at his uncles magazine store hed tear the centrefold posters from the magazines with utmost care and sold them for 50 cents each he paid his business partner 10 cents per poster acquired matt then got bolder and enlisted a group of 5 burly friends to assist him in expanding his business venture at a pasar malam night market on the other side of town matt and his pals scouted around until they found the stall they were looking for a couple of guys selling knockoff world cup football jerseys they were not identical to the original football kits but matt knew that not many schoolkids could afford to buy original kits anyway with 2 of his buddies distracting the stallowners two other kids made a lunge at the jerseys grabbed a handful and raced away separately the two stall owners ran after them along with a handful of other stall owners the two friends of matt the ones who provided the distraction then reacted as if they were going to help but knocked over the generator powering the lights around the stall which resulted in the power going out for a brief period in the confusion matt and another friend quickly grabbed as many jerseys they could and stuffed them into a bag they quickly walked away before power was restored the two kids who had ran away with the kits earlier then dumped the jerseys on the side of the road the stall owners once they had retrieved the jerseys gave up the chase only to return and discover that most of their other kits were gone too matt and his business partners made a financial killing out of selling the jerseys his customers even included teachers who couldnt afford original products with their low income by now matt was growing into a handsome young man with a penchant for making money people gravitated to him for he was a natural leader he always listened to his friends troubles and helped whenever he can he wasnt simply being generous or kind although he may very well have had some genuine altruistic motives mainly though it was because he was smart enough to form alliances with people who he felt could help him achieve his goals in the future by the time he was 16 he was a reasonably wealthy teenager hed never spend his money on anything ostentatious as a gold watch hed buy knockoff rolex watches from petaling street or expensive sneakers he always wore a pair of cheap bata shoes he had his hands in a halfdozen business enterprises only some of which were legal they included football betting renting pirated videos some of them porn and even a protection racket where hes charge rich kids a small monthly fee in return for protection from bullies he always neglected mentioning that the bullies worked for him as well but he always appeared neat and tidy and projected an image of classy sophistication he maintained high grades in school and was quite an active participant in extracurriculur activities it was one of these activities that would bring him to the attention of an attractive young female student a young girl whose eyes would make matts heart flutter the way a sparrow shivers in the palm of your hand a young girl who would one day force matt into making the biggest gamble of his life a young girl named mina next urllink vol v much thanks goes to urllink ashox for his very crucial and timely assistance in the completion of this chapter'

In [0]:
import re
aa1 = blog_text_df['text'][0]
re.split(r'\d+', aa1)
# ' '.join(aa1.split())

['           Info has been found (+/- ',
 ' pages, and ',
 '.',
 ' MB of .pdf files) Now i have to wait untill our team leader has processed it and learns html.         ']

In [0]:
# instantiate the vectorizer
vect = CountVectorizer()

In [0]:
vect.fit(blog_text_df['text'])
X_train_dtm = vect.transform(blog_text_df['text'])

In [0]:
X_train_dtm

NameError: ignored